<% provide :title, 'Capstone 2014 | Blog' %>

<div class="content">
  <div class="banner">
    <h1>BLOG</h1>
  </div>

  <div class="divider"></div>

  <div class="blog-entry">
    <em>February 1, 2014</em>
    <p>
      Today I continued to expand upon my basic site design. I adjusted the styles of my general page template, created styles for the blog page, and fomatted blog entries. I have also created shells for the resume and gallery pages, and will fill these pages out in the near future. Certain aspects of the site (philosophy, blog, etc.) must be completed by Thursday of next week (2/6/2014), so I will need to focus on writing content for those areas.
    </p>
  </div>
</div>