<% provide :title, 'Capstone 2014 | Pictures' %>

<div class="content">
  <div class="banner">
    <h1>PICTURES</h1>
  </div>

  <div class="divider"></div>

  <h2>Pictures may be added in the near future</h2>

  <div class="divider"></div>
</div>
