<% provide :title, 'Capstone 2014 | Resume' %>

<div class="content">
  <div class="banner">
    <h1>RESUME</h1>
  </div>

  <div class="divider"></div>

  <div class="embedded-resume">
    <%= image_tag 'Ferris_David_Resume-resized.jpg', alt: 'Resume' %>
    <div class="clearfix"></div>
    <span>
      <%= link_to 'View and Download the PDF Version', asset_path('Ferris_David_Resume.pdf'), target: '_blank' %>
      &nbsp &nbsp
      <em>Last Updated 2/4/2014</em>
    </span>
  </div>


</div>