<!DOCTYPE html>
<html>
<body>
  <div class="header-bar"></div>
    <strong>The following message is from <%= @mail_message.name %>, who can be contacted at <%= @mail_message.email %>.</strong>
    <p><%= @mail_message.message %> </p>
  <div class="header-bar"></div>
</body>
</html>
