@import "bootstrap";

body {
  background-color: #d7d7d7;
}

.content {
  width: 70%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  background-color: #fff;
}
