<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <a href="#" class="navbar-brand">Dave's Capstone</a>
  </div>

  <ul class="nav navbar-nav">
    <li class="active"><a href="#">Link 1</a></li>
    <li><a href="#">Link 2</a></li>
    <li><a href="#">Link 3</a></li>
    <li><a href="#">Link 4</a></li>
  </ul>
</nav>