<nav class="navbar navbar-default no-padding" role="navigation">
  <div class="navbar-header">
    <a href="#" class="navbar-brand">Dave's Capstone</a>
  </div>

  <ul class="nav navbar-nav">
    <li class="active"><a href="#">Home</a></li>
    <li><a href="#">Blog</a></li>
    <li><a href="#">Resume</a></li>
    <li><a href="#">Pictures?</a></li>
  </ul>
</nav>